<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="logo-section">
            <div class="logo-img">
                <img class="img" src="./images/logo.jpg">
            </div>
            <div>
                <p class="name"><b>Mohd Fais TM <br> Loremipsumdolor </b></p>
            </div>
        </div>
        <nav>
            <a class="home">HOME</a>
            <a class="about">ABOUT-US</a>
            <a class="contact">CONTACT</a>
            <a class="description">DESCRIPTION</a>
        </nav>
    </div>
    <main>
       <section>
           <div>
               <div class="heading">
                   <div>
                       <p class="beautiful">A Beautiful <br> Adventure Awaits</p>
                   </div>
                   <div>
                       <p class="lorem">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Accusamus establish</p>
                   </div>
               </div>
               <div>
                   <button class="view">VIEW</button>
                   <button class="learn">LEARN</button>
               </div>
               <div>
                   <img class="main-img" src="./images/entry.jpg" alt="">
               </div>
           </div>
       </section>
       <section>
           <div>
               <div class="center">
                   <img class="pot" src="./images/pot.jpg" alt="">
               </div>
               <div>
                   <p class="discover">Discover Yourself <br> With Nature</p>
                   <p class="lorem-2">Lorem ipsum dolor sit amet, consectetur<br> adipisicing elit. Lorem ipsum dolor sit, amet <br>consectetur adipisicing elit. A dolorum sed molestiae<br> repellat maiores ad aliquid est </p>
               </div>
               <button class="learn-more">LEARN MORE</button>
               <div>
                   <img class="dining" src="./images/dining.jpg" alt="">
               </div>
           </div>
       </section>
    </main>
</body>
</html>